@using AdminstrationSysytem_v1.Models
@{ 
    var Student = TempData["Student"] as Student;
    var Instructor = TempData["Instructor"] as Instructors;
    var Admin = TempData["Admin"] as ApplicationUser;
    TempData.Keep();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="https://use.fontawesome.com/4415e5a123.js"></script>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (TempData.Count != 0)
                    {
                        if (TempData.ContainsKey("Student"))
                        {
                            <li>@Html.ActionLink("Student Profile", "UserProfile", "Students", Student)</li>
                        }
                        else if (TempData.ContainsKey("Instructor"))
                        {
                            <li>@Html.ActionLink("Instructor Profile", "UserProfile", "Instructors", Instructor)</li>
                        }
                        else if (TempData.ContainsKey("Admin"))
                        {
                            <li>@Html.ActionLink("Admin Profile", "UserProfile", "Instructors", Admin)</li>
                            <li>@Html.ActionLink("Students", "StudentsList", "Students")</li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Studnts Panel<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Report Of Absence"+" "+DateTime.Now.ToString("dd/MM/yyyy"), "Report", "Attendance")</li>
                                    <li>@Html.ActionLink("-Test- Quartz Library Resposible For Calling This Action Daily", "Claculatebsence", "Attendance")</li>
                                    @*RepoertAttendanceTaskSchedular Class in Models*@
                                    <li>@Html.ActionLink("Students", "StudentsList", "Students")</li>
                                </ul>
                            </li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @if (TempData.Count != 0)
    {
        if (TempData.ContainsKey("Student"))
        {
            if (!Student.IsActivated)
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Hay , @Student.Name Your account is not activated by Admin till now , your action is prvented for now !
                </div>
            }
        }
        if (TempData.ContainsKey("Instructor"))
        {
            if (!Instructor.IsActivated)
            {
                <div class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    Hay , @Instructor.Name Your account is not activated by Admin! , your action is prvented for now !
                </div>
            }
        }
    }
    
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

        <script src="~/Scripts/jquery-1.10.2.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
