@model IEnumerable<AdminstrationSysytem_v1.Models.Student>



<table id="example" class="table">
    <tr>
        <th>
            @Html.DisplayName("Activate Account")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayName("Birth-Date")
        </th>
        <th>
            @Html.DisplayName("Department")
        </th>
        <th>
            @Html.DisplayName("Access")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (item.IsActivated == true)
                {
                    <input type="checkbox" name="@item.Name" value="@item.Name" checked="checked" />
                }
                else if (item.IsActivated == false)
                {
                    <input type="checkbox" name="@item.Name" value="@item.Name" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Name)
            </td>
            <td>
                @Ajax.ActionLink("Edit", "UpdateStudentData", "Students", new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "div", OnSuccess = "togglemodel()" }) |
                @Ajax.ActionLink("Delete", "DeleteStudent", "Students" , new { id = item.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace , UpdateTargetId = "div" , OnSuccess= "togglemodel()" }) |
                @Html.ActionLink("Details", "Test", "Students", new { id = item.Id }) 
            </td>
        </tr>
    }





</table>

